.Rproj.user
.Rhistory
.RData
.Ruserdata
Lecture1/RTidyVerse.pptx
Lecture1/base-write.csv
Lecture1/readr-write.csv
MaxKuhnSlides/.RData
MaxKuhnSlides/.Rhistory
MaxKuhnSlides/RData/
MaxKuhnSlides/libs/

Assignments/ConsumerCredit/Instructions.docx
investigate_ames.R
Solutions/.gitignore
Lecture2/.gitignore
Assignments/.gitignore
